openapi: 3.0.2
info:
  title: DigiParser API
  description: API documentation for DigiParser
  version: 1.0.0
servers:
  - url: https://app.digiparser.com/api/v1

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic

  schemas:
    Document:
      type: object
      properties:
        id:
          type: string
          example: "document_id"
        name:
          type: string
          example: "document_name"
        url:
          type: string
          example: "document_url"
        isProcessed:
          type: boolean
          example: true
        assignee:
          type: string
          example: "assignee_name"
        data:
          type: array
          description: "Extracted entities in key-value pairs"
          items:
            type: object
        rawData:
          type: array
          description: "Extracted entities in object format"
          items:
            type: object

paths:
  /process/files:
    post:
      summary: Process documents via file upload
      parameters:
        - in: query
          name: async
          schema:
            type: boolean
          description: Whether to process the document asynchronously
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to process
      responses:
        '200':
          description: Successful processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'

  /process/urls:
    post:
      summary: Process documents via URLs
      parameters:
        - in: query
          name: async
          schema:
            type: boolean
          description: Whether to process the document asynchronously
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                urls:
                  type: string
                  description: URL of the document to process
      responses:
        '200':
          description: Successful processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'

security:
  - BasicAuth: []
